<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qsj.demo_tests.mappers.TestMapper">
    <!-- SQL 映射定义 -->
    <resultMap id="BaseResultMap" type="com.qsj.demo_tests.entity.Test">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
